input[type="range"] {
                -webkit-box-shadow: 0 1px 0 0px #424242, 0 1px 0 #060607 inset, 0px 2px 10px 0px black inset, 1px 0px 2px rgba(0, 0, 0, 0.4) inset, 0 0px 1px rgba(0, 0, 0, 0.6) inset;
                margin-top: 2px;
                background-color: #272728;
                border-radius: 15px;
                width: 400px;
                -webkit-appearance: none;
                height:10px;
            }
input[type="range"]::-webkit-slider-thumb {
                -webkit-appearance: none;
                cursor: default;
                top: -5px;
                height: 30px;
                width: 20px;
                transform: translateY(-4px);
                background: none repeat scroll 0 0 #777;
                border-radius: 15px;
                -webkit-box-shadow: 0 -1px 1px black inset;
            }
.clear-body-top{
	position: relative;
	height: 650px;
	background-image: url(../img/page_bg_generated_v6b.jpg);
	background-repeat: no-repeat;
	background-position: center 0; 
	background-color: #1b2838;
	overflow: hidden;
}
.top-menu{
	left: 481.5px;
}
.title-top{
	margin-top: 80px;
}
.title-top>p{
	margin-left: 0;
}
.title-top>p>a,.title-top>p>i{
	color: #8f98a0;
}
.title-top>p>a:hover{
	text-decoration: none;
	color: #fff;
}
.title-top>h3{
	color: #fff;
	font-size: 26px;
	margin-top: 0;
	margin-bottom: 20px;
}
.body-video{
	height: 500px;
	margin-top: 20px;
	background-color:rgba(0,0,0,0.3);
}
.left-video>p{
	padding: 15px 5px;
	color: #c6d4df;
    font-size: 12px;
}
.left-video>p>span{
	color: #fff;
	font-weight: bold;
}
.left-video{
	width: 600px;
	float: left;
}
.left-video>a{
	position: relative;
	margin-top: 10px;
	float: left;
	width: 110px;
	height: 65px;
	margin-left: 5px;
	border: 2px solid transparent;
	background:  url(../img/movie.jpg) 0 0 no-repeat;
}
.left-video>a:hover{
	border: 2px solid #d5d7d8;
}
.left-video>a:hover:after{
	content: "";
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #d5d7d8;
	position: absolute;
	top: -20px;
	left: 50px;
}
.left-video>input{
	width: 600px;
	margin-top: 10px;
	height: 10px;
}
.video-more{
	float: right;
	width: 324px;

}
.video-more>img{
	width: 324px;
}
.video-more>p{
	margin-left: 0;
	width: 324px;
	font-size: 12px;
}
.video-more>p:nth-of-type(1){
	color: #c6d4df;
	margin-top: 10px;
}
.video-more>p:nth-of-type(2){
	color: #8f98a0;
	margin-top: 10px;
}
.video-more>p:nth-of-type(3),
.video-more>p:nth-of-type(4){
	color: #61686d;
}
.video-more>p:nth-of-type(3)>span,
.video-more>p:nth-of-type(4)>span{
	color: #66C0F4;
}
.video-more>p:nth-of-type(5){
	padding: 10px 0;
	color: #61686d;
}
.video-more>p:nth-of-type(5)>span{
	color: #8f98a0;
}
.video-more>p:nth-of-type(6){
	color: #61686d;
	margin-bottom: 10px;
}
.video-more>p:nth-of-type(7)>span{
	float: left;
	padding: 3px 5px;
	color: #66C0F4;
	background-color: rgba(103,193,245,0.2);
	border-radius: 2px;
	margin-right: 5px;
}
/*body-middle*/
.clear-body-middle{
	background-color: #1b2838;
	overflow: hidden;
}
.middle-body{
	margin-top: 20px;
}
.body-middle-left{
	width: 614px;
}
.one-f{
	border: 1px solid #4E81AE;
}
.f-title{
	padding: 20px;
	background: url(../img/bgc.gif) 0 0 repeat-y;
	
}
.f-title>h1{
	color: #fff;
	font-size: 30px;
}
.f-title p{
	margin-left: 0px;
}
.f-title p:nth-of-type(1){
	color: #fff;
}
.f-title p:nth-of-type(2){
	color: #b8e0fd;
    font-size: 13px;
}
.f-title p:nth-of-type(2) span{
	color: #f9be3e;
}
.f-title p:nth-of-type(2) a{
	text-decoration: underline;
	color:  #b8e0fd;
}
.f-body{
	padding: 20px;
	padding-bottom: 0px;
}
.f-body>p{
	margin-left: 0;
}
.f-body>p:nth-of-type(1){
	font-size: 11px;
    color: #61686d;
}
.f-body>p:nth-of-type(2){
	margin-top: 10px;
	font-size: 14px;
    color: #fff;
    font-style: italic;
}
.f-body>p:nth-of-type(3){
	    font-style: italic;
    font-size: 14px;
    color: #8f98a0;
    line-height: 21px;
    max-height: 110px;
    overflow: hidden;
    position: relative;
}
.f-body>p:nth-of-type(3) a{
	color: #67c1f5;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #1b2838;
	padding: 4.5px 6px;
	color: #67c1f5;
}
.two-f{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	position: relative;
	background:  url(../img/bgc-two.gif) 0 0 repeat-y;
}
.two-f>h2{
	color: #fff;
	background:  url(../img/icon_platform_win.png) right 0 no-repeat;
}
.two-f>p{
	margin-left: 0;
	color: #c6d4df;
    font-size: 12px; 
}
.car-box{
	position: absolute;
	right: 10px;
	bottom:-20px;
	border: 2px solid #000;
	border-radius: 2px;
	background-color: #000;
}
.car-box>span{
	float: left;
}
.car-box>span>span{
	display: block;
}
.car-box>span:nth-of-type(1){
	height: 32px;
    line-height: 32px;
    font-size: 25px;
    text-align: center;
    overflow: hidden;
    padding: 2px 6px;
    color: #a4d007;
    background: #4c6b22;
}
.car-box>span:nth-of-type(2){
	background-color: #000;
	padding: 0 3px;
	font-size: 12px;
	color: #fff;
	text-align: center;
}
.car-box>span:nth-of-type(3){
	padding: 2px 15px;
	border: 2px solid #000;
	overflow: hidden;
	border-radius:5px 5px 5px 5px;
    font-size: 15px;
    line-height: 30px;
    cursor: pointer;
    text-decoration: none !important;
    color: #D2E885 !important;
    background: rgba(121,153,5,1);
}
.thr-f{
	margin-top: 40px;
	margin-bottom: 20px;
}
.thr-f>div{
	width: 289px;
}
.thr-f a:hover{
	color: #fff;
}
.thr-f span{
	float: right;
	font-size: 11px;
    color: #acb2b8;
}
.thr-f p span{
	color: #5e5e61;
}
.thr-f>div>div{
	background-color: #2f4459;
    height: 1px;
    margin: 5px 0;
}
.thr-f>h3{
	padding: 5px 0;
	font-weight: 300;
	font-size: 16px;
	color: #fff;
	background-image: url(../img/maincol_gradient_rule.png);
	background-position: 0 bottom;
	background-repeat: no-repeat;
}
.thr-f>h3>span{
	float: right;
	background-color: rgba( 103, 193, 245, 0.2 );
    border-radius: 1px;
    color: #67c1f5;
    font-size: 11px;
    padding: 2px 4px;
    color: #67c1f5; 
    cursor: pointer;
}
.qi p, .liu p{
	color: #8f98a0;
}
.qi h2, .liu h2{
	color: #fff;
	font-size: 24px;
	font-weight: 500;
}
.qi p:nth-of-type(3){
	margin: 16px 0;
}
.liu>img{
	display: block;
	width: 193px;
	margin: 0 auto;
}
.qi p a, .liu p a{
	float: left;
	color: #527ba5;
    text-transform: uppercase;
    font-size: 11px;
}
.four-f{
	margin-top: 20px;
	padding: 13px 15px 13px 65px;
	background: #4a515a url(../img/earlyaccess_bug.png) 0 0 no-repeat;
}
.four-f p{
	font-size: 16px;
	font-weight: bold;
	line-height: 34px;
	color: #fff;
	margin-left: 0;
	float: left;
}
.four-f a{
	float: right;
	padding: 5px 10px;
	border: 2px solid #000;
	border-radius: 3px;
	background-color: #174661;
	color: #67c1f5;
}
.four-f a:hover{
	background-color: #63b9e8;
	color: #fff;
}
.five-f{
	margin-top: 20px;
}
.five-f h3,.six-f h3{
	    color: #fff;
    margin: 0 0 10px;
    font-size: 17px;
    letter-spacing: 2px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    padding-top: 2px;
    background:  url(../img/maincol_gradient_rule.png) 0 bottom no-repeat;
}
.five-f p{
	margin-left: 0;
	margin-top: 20px;
	line-height: 1.5em;
	font-size: 14px;
	color: #acb2b8;
}
.six-f>ul{
	margin-top: 5px;
	width: 300px;
}
.six-f>ul>li{
	padding: 2px;
	color: #acb2b8; 
}
.six-f>ul>li>span{
	margin-right: 2px;
	color: #61686D;
    font-size: 12px;
    margin-right: 4px;
    font-weight: normal;
    margin-bottom: 2px;
}
.six-f>ul>li:nth-of-type(1){
	font-size: 11px;
    color: #4582A5; 
}
.midl-one-f{
	margin-bottom: 20px;
	padding: 16px;
	    background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
}
.midl-one-f>ul{
	width: 239px;
}
.midl-one-f>ul>li{
	overflow: hidden;
	margin-bottom: 2px;
}
.midl-one-f>ul>li>span,
.midl-one-f>ul>li>a{
	float: left;
}
.midl-one-f>ul>li>span{
	width: 36px;
	height: 27px;
	background-color: rgba(0,0,0,0.5);
}
.midl-one-f>ul>li>span>img{
	width: 26px;
	height: 16px;
	display: block;
	margin: 0 auto;
	margin-top: 5px;
}
.midl-one-f>ul>li>a{
	width: 80%;
    height: 22px;
    padding-top: 4px;
    padding-left: 10px;
    line-height: 18px;
    color: #67c1f5;
	background: rgba( 103, 193, 245, 0.1 );
}
.midl-one-f>p{
	margin-left: 0;
	background: linear-gradient(135deg, rgba(130,114,81,0.5) 0%,rgba(226,197,139,0.5) 100%);
	color: #e1c48a;
    padding: 4px 8px;
    line-height: 17px;
    border-radius: 1px;
    margin-top: 12px;
}
.midl-one-f>p>a{
	color: #fff;
}
.midl-one-f>p>a:hover{
	color: #67c1f5;
}
.midl-two-f{
	padding: 16px;
    margin-top: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);

}
.midl-two-f>h4{
	font-size: 12px;
    color: #8f98a0;
    margin-bottom: 2px;
    font-weight: 400;
}
.midl-two-f>table th{
	text-align: center;
	font-size: 12px;
    color: #b0aeac;
    font-weight: normal;
    border-bottom: 1px solid #626366;
}
.midl-two-f>table td{
	padding: 2px 0;
	color: #8f98a0;
	border-bottom: 1px solid #626366;
}
.checkcol{
	background:  url(../img/ico_bluecheck.png) center center no-repeat;
}
.midl-two-f>a{
	display: block;
	margin-top: 5px;
	color: #66c0f4;
}
.midl-two-f>a:hover{
	color: #fff;
}
.midl-thre-f{
	padding: 16px;
    margin-top: 20px;
    background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
}
.midl-thre-f>p{
	margin-left: 0;
	color: #61686d;
    line-height: 20px;
}
.midl-thre-f>p>span{
	color: #8f98a0;
}
.midl-thre-f>p>a{
	color: #fff;
}
.midl-thre-f>p>a:hover{
	color: #66c0f4;
}
.midl-thre-f>ul{
	margin-top: 10px;
}
.midl-thre-f>ul>li{
	width: 268px;
	min-height: 17px;
    padding-top: 4px;
    padding-left: 8px;
    padding-bottom: 4px;
    margin-bottom: 3px;
    line-height: 17px;
    color: #66c0f4;
    cursor: pointer;
    background: rgba( 103, 193, 245, 0.1 ); 
}
.midl-thre-f>ul>li:hover{
	color: #fff;
	background: #66c0f4;
}
.midl-four-f{
	padding: 16px;
    margin-top: 20px;
    background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
}
.midl-four-f>a{
	float: left;
	font-size: 15px;
    line-height: 30px;
	padding: 0px 15px;
	border-radius: 3px;
	margin-right: 5px;
	color: #66c0f4;
	background: rgba( 103, 193, 245, 0.1 );
}
.midl-four-f>a:hover{
	color: #fff;
	background: #66c0f4;
}
.midl-five-f{
	padding: 16px;
    margin-top: 20px;
    background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
}
.midl-five-f>h4{
	font-weight: 300;
	font-size: 12px;
    color: #8f98a0;
    margin-bottom: 2px; 
}
.midl-five-f>p{
	width: 276px;
	margin-left: 0;
	color: #c6d4df;
    font-size: 12px;
}
.clear-body-bootm{
	background-color: #1b2838;
	overflow: hidden;
}
.bottom-comment{
	margin-top: 20px;
}
.bottom-comment>h3{
	font-weight: 400;
	color: #fff;
	overflow: hidden;
	font-size: 18px;
	margin-bottom: 5px;
}
.bottom-comment>h3>span{
	float: right;
	padding: 4px 10px;
	border: 1px solid #767e88;
	font-size: 12px;
	border-radius: 2px;
	cursor: pointer;
}
.bottom-comment>h3>span:hover{
	border-color: #fff;
}
.clear-body-bootm-title{
	padding: 10px 15px;
	background-color: #bcc0c5;
}
.fl-title{
	float: left;
	width: 320px;
	margin-right: 20px;
}
.fl-title>p{
	margin-left: 0;
	color: #5d7a87;
	font-size: 10px;
	margin-bottom: 5px;
}
.fl-title>h2{
	color: #4191bf;
	cursor: help;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: bold;
    font-size: 19px;
    text-shadow: 1px 1px rgba( 255, 255, 255, 0.2 );
}
.fl-title>h2>span{
	color: #5d7a87;
	font-size: 10px;
	font-weight: 500;
}
.form{
	margin-top: 2px;
	font-size: 12px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #2a475e;
}
.form>ul{
	float: left;
	width: 170px;
}
.form>ul>li>input{
	margin-right: 5px;
}
.form>ul>li{
	font-size: 12px;
	color: #7193a6;
	cursor: pointer;
}
.form>ul>li:hover{
	color: #fff;
}
.form>ul>li:nth-of-type(1){
	font-size: 10px;
    margin-bottom: 5px;
    color: #4582a5;
}
.form>ul .self{
	color: #67c1f5;
}
.zongjie{
	margin-top: 10px;
	padding-top: 5px;
	color: #c6d4df;
	font-size: 10px;
	width: 100%;
	border-top: 1px solid #66c0f4;
}
.zongjie>span{
	color: #66c0f4;
	font-weight: bold;
}
.test-fl{
	width: 616px;

}
.test-fl .test-box{
	color: #c6d4df;
    font-size: 12px;
    background-color: rgba(0,0,0,0.1);
	background:  url(../img/maincol_gradient_rule.png) 0 0 no-repeat;
}
.test-box:hover .test-body-icon{
	opacity: 1;
}
.test-body-icon>a:hover{
	color: #66c0f4;
}
.test-fl>h4,.test-fr>h4{
	font-weight: normal;
    font-size: 14px;
    color: #c6d4df;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.test-fr{
	width: 308px;
}
.test-title{
	width: 598px;
	padding: 8px 9px;
	border-bottom: 1px solid #1b2838;
}
.test-title>span{
	float: right;
	color: #66c0f4;
	cursor:pointer; ;
}
.test-title>span:hover{
	color: #647580;
}
.test-body-icon{
	width: 184px;
	float: left;
	padding: 8px;
    opacity: 0.6;
    color: #c6d4df;
    font-size: 12px;
    position: relative;
}
.test-body-icon>a{
	    color: #c1dbf4;
    font-size: 10px;
    font-family: "Motiva Sans", Sans-serif;

}
.test-body-icon>a:not(:empty){
	margin-left: 3px;
}
.test-body-icon>a:nth-of-type(1){
	float: left;
	width: 34px;
	height: 34px;
	border: 2px solid #396e87;
	background:  url(../img/test-icon.jpg) center no-repeat;
}
.test-body-icon>a:nth-of-type(2){
	font-weight: bold;
	font-size: 13px;
}
.test-body-icon>a:nth-of-type(4){
	margin-left: 7px;
}
.test-body-text{
	width: 400px;
}
.test-body-text>a{
	display: block;
	padding: 0.5px;
	background: #121a24 url(../img/bian.png) 0 center no-repeat;
}
.test-body-text>a>h2{
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	margin-left:45px
}
.test-body-text>a>p{
	    font-weight: 300;
    font-size: 11px;
    line-height: 15px;
    color: #8091a2;
    opacity: 0.6;
    margin-left: 45px;
}
.test-body-text>p{
	margin-top: 10px;
	color: #8091a2;
    margin-left: 0;
}
.test-body-text>p>span{
	background-color: #4d6c8b;
    border: 1px solid #779abc;
    text-transform: uppercase;
    font-family: arial;
    font-size: 11px;
    color: #9ac7f3;
    padding: 1px 4px 0px 4px;
    margin-bottom: 10px;
    margin-right: 4px;
    display: inline-block;
    cursor: default;
    line-height: 13px;
    cursor: pointer;
}
.test-body-text>p:nth-of-type(2){
	border-top: 1px solid silver;
	padding: 8px 0;
}
.recent-box>a{
	display: block;
    padding: 0.5px;
    color: #819db8;
    background: #121a24;
}
.recent-box>a>span{
	opacity: 0.5;
	margin-left: 5px;
}
.recent-box>a>img{
	width: 24px;
	height: 24px;
	margin-right: 3px;
	vertical-align: middle;
}
.recent-box>p:nth-of-type(1){
	margin-top: 10px;
    color: #8091a2;
}
.recent-box>p:nth-of-type(1) span{
	background-color: #4d6c8b;
    border: 1px solid #779abc;
    text-transform: uppercase;
    font-family: arial;
    font-size: 11px;
    color: #9ac7f3;
    padding: 1px 4px 0px 4px;
    margin-bottom: 10px;
    margin-right: 4px;
    display: inline-block;
    cursor: default;
    line-height: 13px;
    cursor: pointer;
}
.recent-box>p:nth-of-type(2){
	color: #9fb4c9;
    margin-right: 8px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #acb2b8;
    overflow-wrap: break-word;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}
.recent-box>p:nth-of-type(3){
    color: #8091a2;
    font-size: 12px;
    opacity: 0.6;
    padding: 10px 0px;
}
.recent-box>p:nth-of-type(3) span{
	color: #66c0f4 !important;
	opacity: 1;
	margin-left: 10px;
	cursor: pointer;
}
.clear-body-foot{
	   background:  url(../img/foot-bg.gif) 0 0 repeat;
}
.foot-content>p:nth-of-type(1){
	padding-top: 20px;
	margin-left: 0;
}
.foot-content>p:nth-of-type(1) span{
	float: left;
	padding: 0 15px;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
    background-color: #223C4E;
    color: #67c1f5 !important;
    border-radius: 2px;
    margin-right: 10px;
}
.foot-content>div{
	padding: 5px 0;
}
.foot-content>div>img{
	float: left;
	margin-right: 5px;
	margin-top: 5px;
}
.foot-content>div>p{
	float: left;
	color:  #8F98A0;
}
.foot-content>div>p>span{
	color: #C6D4DF;
	cursor: pointer;
}
.foot-content>div>p>span:hover{
	color: #fff;
}
.foot-content>p:nth-of-type(2){
	margin-left: 0;
	padding: 5px 0;
	color: #C6D4DF;
	cursor: pointer;
}
.foot-content>p:nth-of-type(2)>span:hover{
	color: #fff;
}